
/*netflix  #D81F26*/
/*imdb #DBA506*/

.slikaTemplate {
    width: 70%;
    margin: 0 auto;

}

.templateHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
    height: 60vh;
}

.filmNaziv h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.filmNaziv h5 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.opisFilma {
    width: 80%;
    margin: 0 auto;
}
.opisFilma h5 {
    margin-top: 3rem;
}

.imdbIkona {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.godImdb {
    line-height: 1rem;
}

p.godF {
    margin: 20px 0 0 0;
    padding: 0;
}

p.vrstaF {
    margin: 0 0 20px 0;
    padding: 0;
    font-style: italic;
    font-size: 0.9rem;
}



@media screen and (max-width: 550px) {
    .slikaTemplate {
        height: 70%;
        width: 100%;
        margin: 0;
    }
    .templateHero {
        gap: 1rem;
        height: 40vh;
    }
    .filmNaziv h2 {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .filmNaziv h5 {
        font-size: 0.7rem;
    }
}